
.sub_title.gogo::after{
    transform: scale(1);
    opacity: 1;
}
.sub_title::after{    
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transform: scale(1.2);
    transition: all 2s ease-in-out;
    z-index: -1;
}
.sub1::after{
    background-image: url(../img/pollexzone/sub1/sb01.jpg);
}


.sub_title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.sub_title_textbox{
    width: 100%;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
}
.sub_title_textbox>strong, .sub_title_textbox>p{
    overflow: hidden;
    display: block;
}

.sub_title_textbox.go>strong>span, .sub_title_textbox.go>p>span{
    transform: translateY(0);
}
.sub_title_textbox>strong>span{
    display: block;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.68;
    letter-spacing: 1.08px;
    color: #fff;
}
.sub_title_textbox>p>span{
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    color: #fff;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}
.subsec{
    padding-top: 110px;
    padding-bottom: 240px;
    box-sizing: border-box;
}
.subsec_title{
    margin-bottom: 77px;
    text-align: center;
    position: relative;
}
.subsec_title h2{
    position: relative;
    display: inline-block;
    padding-bottom: 21px;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.59;
    letter-spacing: 3.4px;
    color: #000;
}
.subsec_title h2::before{
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #101010;
    transform: translateX(-50%);
}
.subsec_mini_title{
    margin-bottom:51px;
    text-align: center;
}
.subsec_mini_title strong{
    position: relative;
    display: inline-block;
    font-size: 28px;
    line-height: 1.46;
    color: #00305b;
    font-weight: 900;
}
.subsec_mini_title strong::after{
    position: absolute;
    content: '';
    left: 50%;
    width: 100%;
    bottom: 0;
    height: 1px;
    background-color: #00305b;
    transform: translateX(-50%);
    transition: width 0.6s ease-in-out;
    transition-delay: 0.6s;
}

.sub_img_box{
    position: relative;
    width: 100%;
}
.main_img_box{
    overflow: hidden;
}
.main_img_box img{
    width: 100%;
}
.logo_img_box{
    position: absolute;
    padding: 0 68px;
    box-sizing: border-box;
    bottom: -20%;
}
.logo_img_box img{
    width: 100%;
}
.subsec_textbox{
    margin: 0 auto;
    margin-top: 150px;
    max-width: 642px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.8;
    color: #000;
}
.subsec_textbox strong{
    display: block;
    font-family: 'Poppins';
    font-size: 40px;
    line-height: 1.5;
    color: #cecece;
    font-weight: 900;
}
.subsec_textbox p{
    margin-top: 30px;
}
.con_list{
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1008px;
}
.con_list ul{
    width: 100%;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}
.con_list li{
    padding: 20px 30px;
    text-align: center;
    width: 33.333%;
    font-size: 16px;
    vertical-align: top;
    box-sizing: border-box;
}
.con_list .img_box{
    position: relative;
    margin: 0 auto;
    width: 160px;
    height: 160px;
    background-color: #f5f5f5;
    border-radius: 100%;
}
.con_list .img_box::before{    
    position: absolute;
    content: '';
    display: block;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.con1::before{
    background-image: url(../img/pollexzone/sub1/con1.png);
}
.con2::before{
    background-image: url(../img/pollexzone/sub1/con2.png);
}
.con3::before{
    background-image: url(../img/pollexzone/sub1/con3.png);
}
.img_box img{
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 40px;
    max-height: 100%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.con_list strong{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
}
.table_list{
    margin: 0 auto;
    margin-top: 120px;
    max-width: 1008px;
}
.table_box{
    border-top: 2px solid #2a2a2a;
}
.col{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdcdc;
}
.col>div{
    padding: 8px 20px;
    letter-spacing: -0.8px;
    box-sizing: border-box;
    line-height: 22px;
    min-height: 62px;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.table_title{
    width: 110px;
    height: 100%;
    font-weight: 900;
    background-color: #f5f5f5;
    border-right: 1px solid #dcdcdc;
}
.table_con{
    flex: 1;
}
.sub1_sec2{
    padding-top: 168px;
}
.introduce_box{
    border: 5px solid #dcdcdc;
    padding: 100px 15px;
    text-align: center;
}
.sub1_sec2_textbox{
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
    color: #000;
}
.sub1_sec2_textbox strong{
    display: block;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}
.color_list{
    margin: 0 auto;
    margin-top: 90px;
    max-width: 628px;
}
.color_list ul{
    margin-left: -14px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
}
.color_list li{
    padding-left: 14px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 33.3333%;
    text-align: center;
}
.color_list li>div{
    width: 100%;
    height: 30px;    
}
.color_list li>p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #999;
    margin-top: 14px;
}
.color_b{
    background-color: #000;
}
.color_lg{
    background-color: #d0e6c8;
}
.color_g{
    background-color: #06772d;
}








@media screen and (max-width: 1100px){
    .col{
        border-bottom: none;
        flex-wrap: wrap;
    }
    .col>div{
        border-bottom: 1px solid #dcdcdc;
        padding: 8px 20px;
        letter-spacing: -0.8px;
        box-sizing: border-box;
        line-height: 22px;
        min-height: 62px;
        display: flex;
        align-items: center;
        font-size: 15px;
    }
    .table_title{
        width: 110px;
        height: 100%;
        font-weight: 900;
        background-color: #f5f5f5;
        border-right: 1px solid #dcdcdc;
    }
    .table_con{
        flex: none;
        width: calc(100% - 110px);
    }



}

@media screen and (max-width: 767px){
    .subsec_textbox{
        margin: 0 auto;
        margin-top: 50px;
        font-size: 1px;
    }
    .subsec_textbox strong{
        font-size: 22px;
    }
    .subsec_textbox p{
        margin-top: 10px;
    }        
    .con_list{
        margin-top: 40px;
    }
    .con_list ul{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .con_list li{
        width: 100%;
    }
    .con_list .img_box{
        width: 130px;
        height: 130px;
    }
    .con_list strong{
        margin-top: 20px;
        font-size: 15px;
    }
    .introduce_box{
        padding: 50px 15px;
    }
    .sub1_sec2_textbox{
        margin-top: 30px;
    }
    .sub1_sec2_textbox strong{
        display: block;
        margin-top: 5px;
        font-size: 20px;
        font-weight: 500;
    }
        
    .color_list{
        margin-top: 40px;
    }
    .color_list ul{
        margin-left: -10px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .color_list li{
        padding-left: 10px;
        padding-top: 20px;
        box-sizing: border-box;
        width: 50%;
        text-align: center;
    }
    .color_list li>div{
        width: 100%;
        height: 30px;    
    }
    .color_list li>p{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        color: #999;
        margin-top: 14px;
    }
    .color_b{
        background-color: #000;
    }
    .color_lg{
        background-color: #d0e6c8;
    }
    .color_g{
        background-color: #06772d;
    }

    


}