.hide100 {
    display: none;
}
.h_top_wrap {
    background-color: #f2f2f2;
}
.h_top {
    width: 1200px;
    line-height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.h_top>ul {
    display: flex;
    align-items: center;
}
.sns>li>a {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-right: 5px;
    background-size: 100% 100%;
}
.u_gp>a {
    background-image: url(../img/common/u_gp.png);
}
.u_ap>a {
    background-image: url(../img/common/u_ap.png);
}
.u_in>a {
    background-image: url(../img/common/u_in.png);
}
.u_kc>a {
    background-image: url(../img/common/u_kc.png);
}
.u_fb>a {
    background-image: url(../img/common/u_fb.png)
}
.u_yt>a {
    background-image: url(../img/common/u_yt.png);
}
.login>li>a {
    font-size: 12px;
    color: #808080;
    margin-left: 20px;
}
.login>li>a:hover {
    text-decoration: underline;
}
.h_bot_wrap {
    border-bottom: 1px solid #d9d9d9;
}
.h_bot {
    width: 1200px;
    padding-bottom: 10px;
    margin: auto;
}
.h_bot>h1>a {
    display: block;
    width: 160px;
    height: 30px;
    background-image: url(../img/common/sp_common.png);
    margin: 20px auto;
}
.h_bot>div {
    display: flex;
    align-items: center;
}
.h_bot nav {
    width: calc(100% - 210px);
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.gnb_wrap { 
    height: 40px;
    display: flex;
    align-items: center;
}
.sp_icon {
    height: 40px;
}
.btn_nav {
    display: block;
    background: url(../img/common/sp_common.png) no-repeat -22px -32px;
    width: 26px;
    height: 17px;
    margin-right: 20px;
}
.gnb {
    display: flex;
}
.gnb>li {
    padding: 0 17px;
}
.gnb>li>a {
    color: #222624;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
}
.gnb>li>.active {
    color: #009a32;
    position: relative;
}
.gnb>li>.active::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #009a32;
    position: absolute;
    left: 50%; bottom: -24px;
    transform: translate(-50%);
}
.sp_icon>ul {
    height: 40px;
    display: flex;
    align-items: center;
}
.sp_icon>ul>li {
    width: 40px;
}
.sp_icon a {
    display: block;
    background: url(../img/common/sp_common.png) no-repeat;
}
.sp_icon .sp_myinfo {
    background-position: -50px -32px;
    width: 21px;
    height: 21px;
}
.sp_icon .sp_cart {
    background-position: -73px -32px;
    width: 26px;
    height: 24px;
}
.sp_icon .sp_write {
    background-position: -101px -32px;
    width: 22px;
    height: 22px;
}
.search_wrap {
    width: 210px;
    height: 40px;
    border-radius: 4px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.search_wrap>input {
    background: none;
    border: none;
    outline: none;
}
.search_wrap>span>a {
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../img/common/sp_common.png);
    background-position: -125px -32px;
}
/******************main start******************/
main{
    padding-top: 30px;
    padding-bottom: 100px;
    box-sizing: border-box;
    position: relative
}
section {
    width: 1200px;
    padding: 30px 0 50px;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}

article {
    width: calc(100% + 20px);
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.title_wrap { 
    display: flex;
    justify-content: space-between;
}
.title_wrap>h2 {
    line-height: 63px;
    font-size: 25px;
    font-weight: 700;
    color: #222624;
}
.title_wrap>p {
    line-height: 63px;
    color: #4d4d4d;
}
.title_wrap div>a {
    font-size: 16px;
    font-weight: 700;
    line-height: 63px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: right center;
}
.more>a {
    background-image: url(../img/common/arrow04_r.png);
    background-size: 7px auto;
    color: #009a3e;
    /*-----------common title sec-------------*/
}
/**
::-webkit-scrollbar {
    display: none;
}
**/
.tab {
    display: flex;
}
.tab>li {
    margin-right: 8px;
    flex-shrink: 0;
}
.tab a{
    display: block;
    padding: 0 13px;
    line-height: 37px;
    font-size: 14px;
    background-color: #f2f2f2;
    border-radius: 4px;
    color: #4d4d4d;
}
.tab>li>a:hover {
    background-color: #009a3e;
    color: #fff;
}
/*-----------common tab sec-------------*/

.date {
    font-size: 14px;
    color: #808080;
    text-align: right;
}
.lank {
    width: calc(100% + 20px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
.lank>div {
    width: calc((100% - 60px)/3);
    height: 100px;
    background-color: #f8f8f8;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
}
.rank{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background-color: #009a3e;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.lank_img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
.limg1{
    background-image: url(../img/common/b1.jpg);
}
.limg2{
    background-image: url(../img/common/b2.jpg);
}
.limg3{
    background-image: url(../img/common/b3.jpg);
}
.lank_name {
    font-weight: bold;
    color: #d9d9d9;
    line-height: 20px;
}
.lank_name>a {
    font-size: 18px;
    color: #4d4d4d;
    font-weight: 500;
    padding-right: 10px;
}
.lank_name>span {
    color: #009a32;
    font-size: 13px;
    padding-left: 10px;
}
.lank_sub_title {
    padding-top: 10px;
    font-size: 15px;
    color: #808080;    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*----------lank sec----------------*/

figure {
    width: 25%;
    padding: 30px 10px;
    box-sizing: border-box;
}
figure>a {
    display: block;
    width: 100%;
}
figure>a>div{
    width: 100%;
    padding-top: 66.79%;
    overflow: hidden;
    position: relative;
}
figure>a>div>.storyimg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    padding-top: 66.79%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;    
    transition : transform 0.3s;
    z-index: 1;
}
figure>a>div>.scrap{
    display: block;
    width: 31px;
    height: 40px;
    background-image: url(../img/ico/scrap.png);
    background-size: 100% auto;
    position: absolute;
    right: 12px; bottom: 13px;
    z-index: 99;
}
.sub_story>figure>a>div:hover .storyimg{
    transform: scale(1.05);
}
.sub_story figcaption:hover {
    text-decoration: underline;
}
.sub_story .img1 {
    background-image: url(../img/common/a1.jpg);
}
.sub_story .img2 {
    background-image: url(../img/sub1/a2.jpg);
}
.sub_story .img3 {
    background-image: url(../img/sub1/a3.jpeg);
}
.sub_story .img4 {
    background-image: url(../img/sub1/a4.jpeg);
}
.sub_story .img5 {
    background-image: url(../img/sub1/a5.jpeg);
}
.sub_story .img6 {
    background-image: url(../img/sub1/a1.jpeg);
}
.sub_story .img7 {
    background-image: url(../img/sub1/a7.jpeg);
}
.sub_story .img8 {
    background-image: url(../img/sub1/a8.jpeg);
}
.sub_story figcaption {       
    margin: 15px 0 10px;
    font-size: 14px;    
    color: #4d4d4d;
}
.sub_story>figure span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 33px;
    padding-bottom: 33px;
    box-sizing: border-box;    
    border-radius: 50%;
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.user_img1 {
    background-image: url(../img/common/b1.jpg);
}
.user_img2{
    background-image: url(../img/common/b4.jpg);
}
.user_img4{
    background-image: url(../img/common/thum1.jpg);
}
.user_img3{
    background-image: url(../img/common/b3.jpg);
}
.figureinfo{
    position: static;
    display: inline;
    position: relative;
}
.figureinfo>a{
    position: static;
    display: inline;
}
.figureinfo p{
    display: inline-block;
    font-size: 15px;
    color: #4d4d4d;
    margin-left: 35px;    
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;   
    vertical-align: top; 
}
.btn_gray_more{
    display: none;    
}
/*----------figure sec----------------*/
/*----------주간인기사진----------------*/
.famous_img{
    width: 100%;
    display: flex;
}
.famous_img>ul{
    width: 25%;
    padding: 20px 10px;  
    box-sizing: border-box;  
}
.famous_img>ul>li{
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}
.famous_img>ul>li>a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.famous_img .picture{
    width: 100%;
    height: 100%;
    position: relative;    
    border-radius: 4px;
    background-color: #3e3e3e;
    overflow: hidden;   
}
.famous_img img{
    max-width: 100%;
    border-radius: 4px;
    transition : transform 0.3s; 
}
.famous_img a:hover img{
    transform: scale(1.05);
}
.famous_img a>.scrap{
    width: 41px;
    height: 41px;
    position: absolute;
    right: 5px; bottom: 10px;
    background-image: url(../img/ico/scrap.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    
}
















/*-----------youtube sec-------------*/

.video {    
    display: flex;
    flex-wrap: wrap;
}
.video>a {
    width: calc(25% - 20px);    
    padding: 0 10px;
    margin-bottom: 30px;
}
.youtube {
    width: 100%;
    height: auto;
    padding-top: 55%;
    position: relative;
    overflow: hidden;
}
.yout{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 55%;
    background-size: 100% 100%;
    transition : transform 0.3s;
}
.youtube>.img1 {
    background-image: url(../img/sub1/y1.jpg);
}
.youtube>.img2 {
    background-image: url(../img/sub1/y2.jpg);
}
.youtube>.img3 {
    background-image: url(../img/sub1/y3.png);
}
.youtube>.img4 {
    background-image: url(../img/sub1/y4.jpg);
}

.youtube>.play {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.youtube>.play::after {
    content: "";
    border-left: 12px solid #000;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.video p {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.video>a:hover .yout {
    transform: scale(1.05); /*105%*/
}
.video>a:hover p {
    text-decoration: underline;
}
.youtube>.time {
    position: absolute;
    left: 0; bottom: 0;
    padding-right: 7px;
    padding-left: 7px;
    line-height: 20px;
    font-size: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
}
.youtube>.scrap {
    width: 41px;
    height: 41px;
    position: absolute;
    right: 0; bottom: 0;
    background-image: url(../img/ico/scrap.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.w100 {
    width: 100%;
    background-color: #f2f2f2;
}
.guide ul {
    width: 100%;
    display: flex;
}
.guide ul>li {
    width: 25%;
    padding: 0 10px;
}
.guide ul>li>a {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 128.8%;
}
.guide ul>li>a>div {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.guide .img1 {
    background-image: url(../img/common/e1.png);
}
.guide .img2 {
    background-image: url(../img/common/e2.png);
}
.guide .img3 {
    background-image: url(../img/common/e3.png);
}
.guide .img4 {
    background-image: url(../img/common/e4.png);
}
.guide .new {
    position: absolute;
    top: 0; right: 6%;
    width: 27px;
    height: 41px;
    background-image: url(../img/ico/new_guide.png);
    background-size: 100% auto;
}
.mag_wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.mag_wrap>li{
    width: calc(33.33% - 20px);  
    border-radius: 4px;
}
.mag_wrap>li>a{
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 45.45%; 
    border-radius: 4px;
    overflow: hidden;
}
.mag{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;     
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition : transform 0.3s;
}
.mimg1{
    background-image: url(../img/sub1/m1.jpg);
}
.mimg2{
    background-image: url(../img/sub1/m2.jpg);
}
.mimg3{
    background-image: url(../img/sub1/m3.jpg);
}
.mag_wrap>li:hover .mag{
    transform: scale(1.05);
}









/* footer */
footer{
    width: 100%;
    background-color: #4d4d4d;
    padding: 54px 40px;
    box-sizing: border-box;
}
.wrap1120{
    width: 1120px;
    margin: auto;    
    box-sizing: border-box;
}
.fnav{
    width: 100%;
    margin-top: 27px;
    text-align: center;
    background-color: #3e3e3e;
    border-radius: 4px;
    display: flex;    
    padding: 0 20px;
    box-sizing: border-box;
}
.fnav>ul{
    display: flex;    
}
.fnav>ul:first-child{
    width: 60%;
    justify-content: space-around;
}
.fnav>ul:last-child{
    width: 40%;
    justify-content: space-around;
}
.fnav>ul>li>a{
    display: block;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-right: 15px;
    background-image: url(../img/ico/arrow02_r.png);
    background-size: 6px 9px;
    background-repeat: no-repeat;
    background-position: right;    
}

.finfo{
    margin-top: 27px;
}
.finfo>div{
    margin-top: 7px;
    width: calc(100% + 40px);
    letter-spacing: -0.05em;
}
.wrap1120 span{
    font-size: 15px;
    color: #d9d9d9;
    margin-right: 25px;
    position: relative;
    white-space: nowrap;
    
}
.wrap1120 span>a{
    color: #fff;
    text-decoration: underline;
}
.wrap1120 span:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -13px;
    width: 1px;
    height: 10px;
    background-color: #808080;
}
footer p{
    display: inline-block;
    line-height: 26px;
    font-size: 15px;
    color: #d9d9d9;
}
.flinfo{
    margin-top: 26px;
    padding-top: 32px;
    border-top: 2px solid #494949;
    color: #b3b3b3;
}
.ask_list{
    width: 100%;
}
.ask_list>li>a{
    width: 100%;
    padding: 34px 165px 34px 125px;
    display: block;
    border-top: 1px solid #d9d9d9;
    box-sizing: border-box;
    position: relative;
}

.ask_list>li:first-child a{
    border-top: transparent;
}
.ask_list span{
    position: absolute;
    top: 30px;
    left: 40px;
    display: inline-block;
    width: 56px;
    height: 56px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
}
.aimg1{
    background-image: url(../img/sub1/question1.jpg);
}
.aimg2{
    background-image: url(../img/sub1/question2.jpg);
}
.ask_list>p{
    display: inline-block;
}
.ask_list .ask{
    min-height: 23px;
    line-height: 23px;
    font-size: 14px;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ask_list .ans{
    line-height: 25px;
    font-size: 16px;
    color: #4d4d4d;
}
.main_top{
    opacity: 1;
    bottom: 30px;
    transition: opacity .3s;
}
.head_top{
    opacity: 0;
    right: 30px;
    bottom: -60px;
    width: 60px;
    height: 60px;
    padding-top: 10px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #008033;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    transition: opacity .3s, bottom .1s .3s;
}

.btn_write{
    right: 13px;
    bottom: 63px;
    bottom: calc(63px + env(safe-area-inset-bottom));
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 0;
    background-color: #009a3e;
    border: 1px solid #008033;
    display: none;
}














@media only screen and (max-width: 1200px) {
    .hide1200{
        display: none;
    }
    .h_top {
        width: 100%;
        line-height: 28px;
        padding: 0 23px;
        box-sizing: border-box;
    }
    .sns>li>a {
        width: 18px;
        height: 18px;
    }
    .login>li>a {
        font-size: 11px;
    }
    .h_bot {
        width: 100%;
        padding: 0 23px 10px;
        box-sizing: border-box;
    }
    .gnb>li {
        padding: 0 10px;
    }
    .gnb>li>a {
        line-height: 28px;
        font-size: 14px;
    }
    .btn_nav {
        background: url(../img/common/sp_common.png) no-repeat -16px -23px;
        width: 18px;
        height: 12px;
        margin-right: 20px;
        background-size: 112px auto;
    }
    .sp_icon>ul>li {
        width: 34px;
    }
    .sp_icon a {
        background: url(../img/common/sp_common.png) no-repeat;
        background-size: 112px auto;
    }
    .sp_icon .sp_myinfo {
        background-position: -35px -23px;
        width: 15px;
        height: 15px;
    }
    .sp_icon .sp_cart {
        background-position: -51px -23px;
        width: 18px;
        height: 17px;
    }
    .sp_icon .sp_write {
        background-position: -70px -23px;
        width: 15.5px;
        height: 15.5px;
    }
    .search_wrap {
        width: 165px;
        height: 28px;
    }
    .search_wrap>input {
        width: 130px;
        font-size: 11px;
        letter-spacing: -2px;
    }
    .search_wrap>span>a {
        display: block;
        width: 17px;
        height: 17px;
        background-image: url(../img/common/sp_common.png);
        background-position: -125px -32px;
    }
    /* max-width: 1200px main */
    section {
        width: 100%;
        padding: 30px 15px 50px 15px;
    }
    .rank{
        font-size: 11px;
    }
    
    .lank_img {
        width: 48px;
        height: 48px;
        margin-right: 14px;
    }
    .lank_txt {
        width: calc(100% - 62px);
    }
    .lank_name>a {
        font-size: 15px;
    }
    .lank_name>span {
        font-size: 12px;
    }
    .lank_sub_title {
        font-size: 14px;
    }
    .sub_story figcaption {
        font-size: 13px;
    }
    .figureinfo p{    
        font-size: 14px;
    }
    .youtube>.play {
        width: 42px;
        height: 42px;
    }
    .youtube>.play::after {
        border-left-width: 8px;
        border-top-width: 5px;
        border-bottom-width: 5px;
    }
    .youtube>.scrap {
        width: 29px;
        height: 34px;
        background-size: 22px auto;
        right: 7px;
        bottom: 7px;
    }
    .video p {
        font-size: 13px;
    }
    .guide .new {
        width: 25px;
        height: 38px;
    }
    .w100 {
        max-width: 100%;
    }
    
    /* footer */
    .wrap1120{
        width: 100%;
    }
    .fnav>ul>li>a{
        font-size: 14px;
        line-height: 35px;
    }
    .wrap1120 span{
        font-size: 14px;
        color: #d9d9d9;
        margin-right: 0px;
    }
    .arrow{
        top: 0;
        margin-left: 10px;
        width: 4px;
        height: 6px;
    }
    .wrap1120 span:not(:last-child)::after {
        display: none;
    }
   




    /*         max-width: 1200px         */
  }





@media only screen and (max-width: 767px) {
    main{
        padding: 0;
        box-sizing: border-box;
    }
    .hide720 {
        display: none;
    }
    .h_top_wrap {
        display: none;
    }
    .gnb {
        display: none;
    }
    .sp_icon>ul>li:first-child {
        display: none;
    }
    .sp_icon>ul>li:last-child {
        display: none;
    }
    .h_bot {
        padding: 0 10px;
    }
    .h_bot nav {
        width: calc(100% - 20px);
        position: absolute;
        top: 0;
    }
    .search_wrap {
        width: 100%;
        height: 28px;
    }
    /*  max-width: 767px main */
   
    figure {
        width: 50%;
    }
    .more {
        display: none;
    }
    .lank_wrap {
        width: 100%;
        overflow-x: scroll;
    }
    .lank {
        width: calc(210% + 20px);
    }
    .rank{
        width: 17px;
        line-height: 17px;    
    }
    .lank_img {
        width: 46px;
        height: 46px;
        margin-right: 18px;
    }
    .lank_txt {
        width: calc(100% - 64px);
    }
    .lank_name>a {
        font-size: 14px;
    }
    .lank_name>span {
        font-size: 11px;
    }
    .lank_sub_title {
        font-size: 12px;
    }   
    .m_date {
        display: block;
        text-align: center;
        padding: 0;
        font-size: 13px;
        color: #808080;
        margin: auto;
    }
    .btn_gray_more{
        display: block;        
        margin-top: 30px;
        margin: auto;        
        width: 233px;
        height: 40px;
        line-height: 39px;
        font-size: 14px;
        font-weight: 400;
        color: #4d4d4d;
        background-color: #d9d9d9;        
        border-radius: 20px;
        text-align: center;
    }
    .video>a {
        width: calc(50% - 20px);
    }
    .guide ul {
        overflow: auto;
    }
    .guide ul>li {
        width: 57%;
        flex-shrink: 0;
    }
    .guide .new {
        width: 23px;
        height: 35px;
    }
    .mag_wrap>li{
        width: calc(100% - 20px); 
        margin-top: 10px; 
    }
    .txt>span {
        display: block;
    }
    .famous_img{
        width: calc(100% + 15px);
    }
    
    .famous_img>ul{
        width: 50%;
        flex-wrap: wrap;
        padding: 10px 5px;
    }
    .famous_img a>.scrap{
        width: 33px;
        height: 36px;
    }
    .btn_write{
        display: inherit 
    }










    footer{
        padding: 50px 20px;
        box-sizing: border-box;
    }
    .fnav{
        background : none;
        padding: 0;
    }
    .fnav>ul{
        justify-content: flex-start;
        width: calc(50% - 8px);
        height: 120px;
        padding: 12px 0;
        background-color: #3e3e3e;
        border-radius: 4px;
        flex-direction: column;
        box-sizing: border-box;
    }
    .fnav>ul>li{
        padding: 0 20px;
        box-sizing: border-box;
    }
    .fnav>ul:first-child{
        width: calc(50% - 8px);
        
    }
    .fnav>ul:last-child{
        width: calc(50% - 8px);
        
        margin-left: 16px;
    }
    
    .fnav>ul>li>a{
        padding: 0 16px;
        line-height: 30px;
        font-size: 12px;
        text-align: left;
    }
    .arrow{
        float: right;
        top: 12px;
        margin-left: 0;
    }
    .wrap1120 span{
        font-size: 11px;
    }
    footer p{
        line-height: 19px;
        font-size: 11px;
        color: #b3b3b3;
        word-break: keep-all;
    }
    .ask_list>li>a{
        padding: 16px 0 9px 72px;
        border-top: none;
        border-bottom: 1px solid #d9d9d9;
        }
    
    .ask_list .ask{
        min-height: 20px;
        max-height: 40px;
        line-height: 20px;
        white-space: normal;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 13px;
    }
    .ask_list .ans{
        line-height: 34px;
        font-size: 13px;
    }
    .ask_list span{
        top: calc(50% - 28.5px);
        left: 0;
        width: 55px;
        height: 55px;   
    }
    .lastsec>.btn_gray_more{        
        margin-top: 40px;
    }

    

}




    /*        max-width: 767px           */

